html {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

#container, #list-container {
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    box-sizing: border-box;
}

#container {
    background-color: beige;
}

#top-part {
    width: 100%;
}

header {
    margin-bottom: 20px;
    font-size: 2rem;
    text-align: center;
}

#word-display {
    display: flex;
    font-size: 1.8rem;
}

#word-display .word-box {
    width: 40%;
    height: 5rem;
    margin: 10px;
    justify-content: center;
    align-items: center;
    flex-basis: auto;
    flex-grow: 1;
    background-color: #fff;
    display: flex;  
}

#bottom-part {
    margin-top: 20px;
    display: flex;
}

.button {
    font-size: 1rem;
    width: 8rem;
    height: 2.6rem;
    margin: 0 10px;
    justify-content: center;
    align-items: center;
    flex-basis: auto;
    flex-grow: 1;
}

#list-container {
    opacity: 0;
    /* background-color: pink; */
    height: 60vh;
}

#the-list {
    height: 57vh;
    display: flex;
    flex-direction: column;
    flex-flow: column wrap;
    background-color: white;
}

#the-list span {
    display: block;
    margin: 0;
    padding: 0;
    font-size: 1.2rem;
    line-height: 1.2rem;
    width: 30%;
}

.list-item {
    display: block;
}
